html{
    scroll-behavior: smooth;
}

body {
	/*background-color: #f5d9d5;*/
	background-color: #050505;
	font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  background:linear-gradient(to top, rgba(14, 13, 15, 0.849)50%, rgba(131, 47, 196, 0.925)50%), url("20.jpg");
}

h1{
  font-size: 3.5rem;
  font-weight: bold;
  padding: 1% 0 7%;
  color: white;
  line-height: 1.5;
}

h2, p {
  color: white;
}


/* Navigation Bar */


  
.custom-toggler.navbar-toggler {
    border-color: rgb(255,0,0);
} 

a, a:focus, a:active {
    text-decoration: none;
    color: goldenrod;
}

a:hover{
    color: red;
}

.navbar{
    padding: 1% 9% 5%;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/* Sliding Text */

  .short-text{
    display: none;
  }

  .slider-wrapper {
    font-size: 40px;
    color:gold;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 50px;
    padding-left:15px;
    overflow: hidden;
  }
  .slider div {
    height: 50px;
    margin-bottom: 45px;
    padding: auto 15px;
    text-align: center;
    box-sizing: border-box;
  }
  .slider-text1 {
    color: lightgreen;
    animation: slide 5s linear infinite;
  }
  .slider-text2 {
    color: skyblue;
  }
  .slider-text3 {
    color: lightcoral;
  }
  @keyframes slide {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;}
    33% {margin-top:-200px;}
    38% {margin-top:-100px;}
    66% {margin-top:-100px;}
    71% {margin-top:0px;}
    100% {margin-top:0px;}
  }

/* Button */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Custom scroll-bar */
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: gray;
  border-radius: 50px;
}

/* Form  */
.container{
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: auto;
  margin-bottom: 2%;
}

.box{
  width: 70%;
  height: 100%;
  font-size: 16px;
  padding: 20px 40px;
  background: rgba(211, 14, 30, 0.842);
  border-radius: 48px;
  box-shadow: 0 0 10px 8px rgb(225, 8, 245);
  position: relative;
  left: 15%;
}


.user{
  margin-top: 40px;
}

input {
  width: 100%;
  margin-bottom: 25px;
  padding: 0px 30px 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  outline: none;
  background-color: transparent;
  color: gold;
  transition: .3s all;
}

input:focus {
  border-bottom: 1px solid #ff7f5f;
}

.login-btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login span{
  color: #7fb8e6;
  cursor: pointer;
  transition: .3s color;
}

.login span:hover{
  color: #e417e4;
}

p{
  margin-top: 3%;
}

@media (max-width:768px){
  
  .container{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .box{
    width: 80%;
    justify-content: center;
    position: relative;
    left: 10%;
    box-shadow: none;
    background: none;
    padding: 10px;
  }
  
  .slider-wrapper{
    margin-top: 3%;
    margin-bottom: 7%;
  }

  .short-text{
    display: inline-block;
  }

  .full-text{
    display: none;
  }
}